<p>proyectos works!</p>
<section class="content" id="about">
   
    
    
    <div class="block-content">
        <h3 class="block-title">Servicios</h3>
        <div class="row">
            
            
            <div class="col-md-4 col-sm-6 service">
                <div class="service-icon">
                    <i class="ion-social-buffer"></i>
                </div>
                <h4>Proyecto</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                <img src="" alt="vacio">
            </div>
        </div>
    </div>
</section>
