<section class="content" id="about">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Institución</th>
                <th>Titulo</th>
                <th>Fecha de inicio</th>
                <th>Fecha de finalizacion</th>
                
            </tr>
        </thead>
    <tbody *ngFor="let estudios of edu">
                <tr>
                    <td>{{ estudios.institucion }}</td>
                    <td>{{ estudios.titulo }}</td>
                    <td>{{ estudios.fechainicio }}</td>
                    <td>{{ estudios.fechafin }}</td>
                    <td><a class="btn btn-warning" routerLink="/educacion/{{estudios.id}}" >
                        Edit
                      </a></td>
                      <td><button type="submit" (click)="deleteEducacion(estudios.id)" class="btn btn-success">Delete</button></td>
                </tr>
                
                  
            </tbody>
            
        
    </table>
    <button class="btn btn-warning"><a routerLink="/add?educacion/{{id}}">Crear Educacion</a></button>
</section>
