<section class="content" id="about">
    <div class="block-content">
        <h3 class="block-title">Educación</h3>
        <div class="timeline education">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                      <div>
                        <div class="exp">
                            <div class="hgroup">
                                <h4>Carrera <a href="" target="_blank"><span>Ver Certificado</span></a></h4>
                                <h5>fecha</h5>
                            </div>
                            <p>descripcion</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
