<section>
   
    <div class="container">
        <div class="row" *ngIf="authService.userData as user">
            <div class="col-md-12">
              <div class="media">
                 
                <div class="media-body">
                  <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                  <p>User ID: <strong>{{user.uid}}</strong></p>
                  <p>Email: <strong>{{user.email}}</strong></p>
                  <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-6 col-sm-12 col-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                tempore numquam sapiente inventore voluptatum aspernatur, rerum dolorem cupiditate, eius accusamus
                laboriosam voluptatem repudiandae minima eligendi dolorum sed similique eos voluptates?
            </div>
        </div>
    </div>
</section>