<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Brand</a>
        <button *ngIf="!authService.isLoggedIn"><a routerLink="/login">Ingresar</a></button>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" *ngIf="authService.isLoggedIn">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <button><a routerLink="/personas">Perfiles</a></button>
                <button><a routerLink="/add?persona">Crear Perfil</a></button>
                <input type="button" class="btn btn-primary" value="Sign Out"
                (click)="authService.SignOut()">
            </div>
        
        </div>
    </div>
</nav>