<div class="container py-5">
    <div class="row">
        <div class="col-lg-12 mx-auto mb-5  text-center">
            <h1 class="display-4">Habilidades Blandas y Fuertes</h1>
        </div>
      <div class=" col-xl-3 col-lg-6 mb-4" *ngFor="let habilidades of skill">
        <div class="gradient rounded-lg p-5 shadow">
          <h2 class="h6 font-weight-bold text-center mb-4">{{habilidades.habilidad}}</h2>
          <div class="text-center mb-4 align-items-center">
            <circle-progress 
            [percent]="(habilidades.porcentaje)"
            [radius]="75"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="7"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="300"></circle-progress>
          </div>
          <div class="row text-center mt-4">
            <div class="col-6 border-right">
              <div class="h4 font-weight-bold mb-0">{{habilidades.semana}} horas</div><span class="small text-gray">Last week</span>
            </div>
            <div class="col-6">
              <div class="h4 font-weight-bold mb-0">{{habilidades.mensual}} horas</div><span class="small text-gray">Last month</span>
            </div>
          </div>
          <a class="btn btn-warning" routerLink="/habilidad/{{habilidades.id}}" >
            Edit
          </a>
          <button type="submit" (click)="deleteHabilidad(habilidades.id)" class="btn btn-success">Delete</button>
        </div>
      </div>
      <button class="btn btn-warning"><a routerLink="/add?habilidad/{{id}}">Crear Habilidad</a></button>
    </div>
  </div>