<div *ngIf="currentHabilidad.id" class="edit-form">
    <h4>HABILIDAD</h4>
    <form>
      <div class="form-group">
        <label for="habilidad">Habilidad</label>
        <input
          type="text"
          class="form-control"
          id="habilidad"
          [(ngModel)]="currentHabilidad.habilidad"
          name="habilidad"
        />
      </div>
      <div class="form-group">
        <label for="porcentaje">Nivel de Aprendizaje en Porcentaje</label>
        <input
          type="number"
          class="form-control"
          id="porcentaje"
          [(ngModel)]="currentHabilidad.porcentaje"
          name="porcentaje"
        />
      </div>

      <div class="form-group">
          <label for="semana">Horas trabajadas la ultima semana</label>
          <input
            type="number"
            class="form-control"
            id="semana"
            [(ngModel)]="currentHabilidad.semana"
            name="semana"
          />
        </div>
        <div class="form-group">
            <label for="mensual">Horas trabajadas el ultimo mes</label>
            <input
              type="number"
              class="form-control"
              id="mensual"
              [(ngModel)]="currentHabilidad.mensual"
              name="mensual"
            />
          </div>
          <div>
            <p>{{currentHabilidad.personaid}}</p>
          </div>
        <button
      type="submit"
      class="btn btn-warning  mb-2"
      (click)="updateHabilidad()"
    >
      Update
    </button>
    </form>

    

  </div>

