<div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="habilidad">Habilidad</label>
          <input
            type="text"
            class="form-control"
            id="habilidad"
            required
            [(ngModel)]="skill.habilidad"
            name="habilidad"
          />
        </div>
  
        <div class="form-group">
          <label for="porcentaje">Porcentaje de Aprendizaje</label>
          <input
            class="form-control"
            id="porcentaje"
            required
            [(ngModel)]="skill.porcentaje"
            name="porcentaje"
          />
        </div>
        <div class="form-group">
            <label for="semana">Hora de trabajo de la ultima semana</label>
            <input
              class="form-control"
              id="semana"
              required
              [(ngModel)]="skill.semana"
              name="semana"
            />
          </div>

          <div class="form-group">
            <label for="mensual">Hora de trabajo del ultimo mes</label>
            <input
              class="form-control"
              id="mensual"
              required
              [(ngModel)]="skill.mensual"
              name="mensual"
            />
          </div>
  
        <button (click)="saveHabilidad()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newHabilidad()">Add</button>
      </div>
    </div>
  </div>