<div *ngIf="currentEducacion.id" class="edit-form">
    <h4>Educacion</h4>
    <form>
      <div class="form-group">
        <label for="institucion">Institucion Educativa</label>
        <input
          type="text"
          class="form-control"
          id="institucion"
          [(ngModel)]="currentEducacion.institucion"
          name="institucion"
        />
      </div>
      <div class="form-group">
        <label for="titulo">Titulo</label>
        <input
          type="text"
          class="form-control"
          id="titulo"
          [(ngModel)]="currentEducacion.titulo"
          name="titulo"
        />
      </div>

      <div class="form-group">
          <label for="fechainicio">Fecha de Inicio</label>
          <input
            type="text"
            class="form-control"
            id="fechainicio"
            [(ngModel)]="currentEducacion.fechainicio"
            name="fechainicio"
          />
        </div>
        <div class="form-group">
            <label for="fechafin">Fecha de Finalizado</label>
            <input
              type="text"
              class="form-control"
              id="fechafin"
              [(ngModel)]="currentEducacion.fechafin"
              name="fechafin"
            />
          </div>
          <div>
            <p>{{currentEducacion.personaid}}</p>
          </div>
        <button
      type="submit"
      class="btn btn-warning  mb-2"
      (click)="updateEducacion()"
    >
      Update
    </button>
    </form>

    

  </div>

