<section id="acercade">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-6" id="perfilfoto">
                <img src="../../../assets/icono-gris-de-perfil-usuario-símbolo-empleado-avatar-web-y-diseño-ilustración-signo-aislado-en-fondo-blanco-191067342.jpg" alt="perfil">
            </div>
            <div class="col-md-3 col-sm-6 col-6">
                <h2>Emiliano Choque</h2>
                <h3>Desarrollador Full Stack</h3>
            </div>  
        </div>
    </div>
</section>

             