<section id="acercade">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <img src="" alt="perfil">
            </div>
            <div class="col-md-3 col-sm-3 col-3">
                <h2>Emiliano Choque</h2>
                <h3>Desarrollador Full Stack</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempore numquam sapiente inventore voluptatum aspernatur, rerum dolorem cupiditate, eius accusamus laboriosam voluptatem repudiandae minima eligendi dolorum sed similique eos voluptates?      
            </div>
        </div>
       
    </div>
</section>
<div class="preloader">
    <div class="anim pulse"><i class="ion-ios-bolt-outline"></i></div>
  </div>
  <div class="preloader-left"></div>
  <div class="inline-menu-container">
    <span class="status">Estoy disponible como Freelance</span>
    <ul class="inline-menu">
        <li class="about menu-item">Resumen</li>
        <li class="portfolio menu-item">Portafolio</li>
        <li class="blog menu-item">Blog</li>
        <li class="contact menu-item">Contacto</li>
        <li id="close" class="menu-item"><i class=""></i>cerrar</li>
    </ul>
  </div>
  <section class="home">
  <div class="bgScroll"></div>
    <div class="overlay opacity7"></div>
    <div class="container">
  
        <div class="name-block">
            <div class="name-block-container">
                <h1><span>Hola, Soy</span>Emiliano Choque</h1>
                <h2>Analista De Software & Programador BackEnd/FrontEnd</h2>
                
                <ul class="social">
                    <li><a href="" target_="_blank"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="" target_="_blank"><i class="bi bi-linkedin"></i></a></li>
                    <li><a href=""><i class="bi bi-github" target_="_blank"></i></a></li>
                    <li><a href="" target_="_blank"><i class="bi bi-youtube"></i></a></li>
                    <li><a href=""><i class="bi bi-whatsapp" target_="_blank"></i></a></li>
                    <li><a href=""><i class="bi bi-pinterest" target_="_blank"></i></a></li>
                </ul>
            </div>
        </div>
         
        
    </div>
  </section>
  
  